<!DOCTYPE html>
<html lang="ru" ng-app="portfolus" ng-controller="MainCtrl">
<head>
  <meta charset="UTF-8">

  <title ng-bind="'Portfolus' + (title.length > 0 ? ' - ' + title : '')">Portfolus</title>

  <base href="/" target="_blank" />
  <meta name="viewport" content="initial-scale=1" />

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body ng-cloak layout-fill layout="column">
  <!-- Меню вверху  -->
  <md-toolbar class="md-whiteframe-2dp">
    <div class="md-toolbar-tools" layout="row">
      <!-- Иконка бокового меню -->
      <md-button class="md-icon-button" aria-label="Menu" ng-click="openLeftMenu()" hide-gt-md ng-show="sideNav">
        <md-icon>menu</md-icon>
      </md-button>

      <h2 hide-gt-md>
        <span>{{title}}</span>
      </h2>

      <!-- Список меню -->
      <div layout="row" class="md-toolbar-tools no-paddings" layout-align-gt-md="center center" layout-align="end center" flex id="top-menu-list" layout-fill ng-controller="NavCtrl" ng-include="'nav/_nav.html'"></div>

    </div>
  </md-toolbar>

  <section layout="row" flex>
    <!-- Боковое меню -->
    <md-sidenav md-component-id="left" class="md-sidenav-left md-whiteframe-z2" layout="column" md-is-locked-open="$mdMedia('gt-md')" ng-show="sideNav">
      <md-content layout="column" flex>
        <div ui-view="sideNav">
        </div>
      </md-content>
    </md-sidenav>

    <!-- Контент -->
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <md-content ui-view flex ng-class="disablePadding ? '' : 'layout-padding'" layout="column"></md-content>
  </section>
</body>
</html>
